absl-py==2.1.0
attrs==24.3.0
av==14.2.0
blessed==1.20.0
blurhash==1.1.4
boost==0.1
Brotli @ file:///croot/brotli-split_1714483155106/work
certifi @ file:///croot/certifi_1725551672989/work/certifi
cffi==1.17.1
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
cmake==3.31.2
contourpy==1.3.0
cycler==0.12.1
decorator==4.4.2
decord==0.6.0
deepspeed==0.5.8
dlib==19.24.6
einops==0.8.0
et_xmlfile==2.0.0
filelock==3.16.1
flatbuffers==24.12.23
fonttools==4.55.3
gpustat==1.1.1
greenlet==3.1.1
grpcio==1.69.0
h5py==3.12.1
hjson==3.1.0
idna @ file:///croot/idna_1714398848350/work
imageio==2.36.1
imageio-ffmpeg==0.5.1
importlib_metadata==8.5.0
importlib_resources==6.4.5
jax==0.4.30
jaxlib==0.4.30
joblib==1.4.2
kaldi-native-fbank==1.20.2
kiwisolver==1.4.7
llvmlite==0.43.0
loguru==0.7.3
Markdown==3.7
MarkupSafe==3.0.2
Mastodon.py==1.8.1
matplotlib==3.9.4
mediapipe==0.10.20
mkl-service==2.4.0
mkl_fft @ file:///io/mkl313/mkl_fft_1730824109137/work
mkl_random @ file:///io/mkl313/mkl_random_1730823916628/work
ml_dtypes==0.5.1
moviepy==2.0.0.dev2
ninja==1.11.1.2
numba==0.60.0
numpy==1.26.4
nvidia-ml-py==12.560.30
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
openpyxl==3.1.5
opt_einsum==3.4.0
packaging==24.2
pandas==2.2.3
pillow==10.4.0
proglog==0.1.10
protobuf==4.25.5
psutil==6.1.0
pycparser==2.22
pydub==0.25.1
pyparsing==3.2.0
PySocks @ file:///tmp/build/80754af9/pysocks_1605305812635/work
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-magic==0.4.27
pytz==2024.2
PyYAML==6.0.2
requests @ file:///croot/requests_1730999120400/work
resampy==0.4.3
scikit-learn==1.6.0
scipy==1.13.1
seaborn==0.13.2
sentencepiece==0.2.0
six==1.17.0
sounddevice==0.5.1
soundfile==0.13.1
SQLAlchemy==2.0.37
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
termcolor==2.5.0
thop==0.1.1.post2209072238
threadpoolctl==3.5.0
timm==0.4.12
torch==1.12.1
torchaudio==0.12.1
torchvision==0.13.1
tqdm==4.67.1
triton==3.1.0
typing_extensions @ file:///croot/typing_extensions_1715268824938/work
tzdata==2024.2
urllib3 @ file:///croot/urllib3_1727769808118/work
wcwidth==0.2.13
Werkzeug==3.1.3
wget==3.2
wordcloud==1.9.4
yeaudio==0.0.7
zipp==3.21.0

